= form_for [@user, @convo] do |f|
  - if @convo.errors.any?
    .error_messages
      %h2
        = pluralize(@convo.error.count, "error")
        prohibited this convo from being saved:
      %ul
        - @convo.errors.full_messages.each do |msg|
          %li
            = msg

  / Passes the lat/lng through the params from the map
  = f.hidden_field :longitude, :value => @longitude
  = f.hidden_field :latitude, :value => @latitude

  .field
    Topics
    %br
    / Populates the Topics field with entries from the database
    = hidden_field_tag "convo[category_ids][]", nil
    - Category.all.each do |category|
      = check_box_tag "convo[category_ids][]", category.id, @convo.category_ids.include?(category.id), id: dom_id(category)
      = label_tag dom_id(category), category.cat_name
      %br

  .field
    = f.label :description, "Convo Description"
    %br
    = f.text_area(:description, size: "34x3")

  .field
    Preferred Genders
    %br
    = hidden_field_tag "convo[gender_ids][]", nil
    - Gender.all.each do |gender|
      = check_box_tag "convo[gender_ids][]", gender.id, @convo.gender_ids.include?(gender.id), id: dom_id(gender)
      = label_tag dom_id(gender), gender.gender_name
      %br

  .actions
    = f.submit