<h1>Topic: <%= @convo.topic %></h1>
<div id="show_info" style="text-align:left;">
  <p>Description: <%= @convo.description %></p>
  <p>Preferred Age: <%= @convo.age %></p>
  <p>Preferred Gender: <%= @convo.gender %>
  </p>
  <p>Available: <%= @convo.start_time %> to <%= @convo.end_time %></p>
  <p>Location Detail: <%= @convo.loc_desc %></p>
</div>

<div style="text-align:left;">
  <% if (@convo.user_id != current_user.id) && (@responders_all.include?(current_user.id) == false) %>
    <a href="/response/<%= @convo.id %>">Respond</a>
  <% elsif %>
  <% @convo.user_id == current_user.id %>
    <a href="/convos/<%= @convo.id %>/edit">Edit</a>
  <% else %>
  <!-- ROUTE DOES NOT EXIST YET -->
    <strong>You have responded to this convo.</strong> <a href="/response/<%=@convo.id %>/destroy">Remove Response</a>
  <% end %>
</div>

<div style="text-align:right;">
  <% if (@responders_all != []) && (@responders_all.include?(current_user.id) == false) %>
  Respondents:<br>
    <% @responder.each do |r| %>
      <a href="/users/<%= r.user_id %>"><%= User.find(r.user_id).name %></a><br>
    <% end %>
  <% end %>
</div>
<div>
<a href='/map'>Back to map</a>
</div>
