%h1 User Info for #{ @user.name }

%h3
  - if @user.id == current_user.id
    Email: #{ @user.email }
    %br
  Age: #{ @user.age }
  %br
  Gender: #{ @user.gender.gender_name }
  %br
  Interests: #{ @user.interests }
  %br
  Fav Writers/Artists: #{ @user.writers }
  %br
  Fav Works: #{ @user.works }
  %br
  Fav Quotes: #{ @user.quotes }

- if @user.id == current_user.id
  %p
    %a{ href: "/users/#{ @user.id }/edit" } Edit Info

%p
  = link_to 'Go to map', map_path