<!DOCTYPE html>
<html>
<head>
  <title>CULTR</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body cz-shortcut-listen="true">
  <div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/map">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <% if current_user %>
            <li class="active"><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
          <h3 class="text-muted">CULTR</h3>
      </div>
      <div class="jumbotron">
        <%= yield %>
      </div>

  <div class="footer">
    <p>&copy; CULTR 2013</p>
  </div>
</div>
</body>
</html>
