
<!DOCTYPE html>
<html ng-app="">
<head>
  <title>cultr</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">cultr</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a href="/map">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if current_user %>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
      <%= yield %>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
<%= javascript_include_tag "application" %>
  </body>
</html>